<app-loading *ngIf="loading"></app-loading>
<div class="mx-3">
  <div class="d-flex pb-3 pt-2">
    <div class="col-10">
      <h1>Products List</h1>
    </div>
    <div class="col-2 text-end">
      <button class="btn-create" (click)="openModal()">Create Product</button>
    </div>
  </div>
  <p-table
    [value]="list"
    [paginator]="true"
    [rows]="10"
    [showCurrentPageReport]="true"
    [tableStyle]="{ 'min-width': '50rem' }"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [rowsPerPageOptions]="[10, 25, 50]"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>IMG</th>
        <th>Products Name</th>
        <th>Code</th>
        <th>Group</th>
        <th>Line</th>
        <th>Stars</th>
        <th>Price</th>
        <th>New</th>
        <th>Promotion</th>
        <th>Observations</th>
        <th class="text-center">Status</th>
        <th class="text-center">Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr>
        <td class="text-uppercase">{{ item.id }}</td>
        <td class="text-uppercase">
          <img src="{{ verificarURLImagen(item.img) }}" class="imagen">
        
          </td>
        <td class="text-uppercase">{{ item.name }}</td>
        <td class="text-uppercase">{{ item.code }}</td>
        <td class="text-uppercase">  {{ groupsbyuid(item.group)  }}</td>
        <td class="text-uppercase">  {{ linesByuid(item.lines)  }}</td>
        <td class="text-uppercase">
          <span *ngFor="let img of obtenerImagenEstrellasConDiseno(item.stars)" class="estrella-container">
            <img [src]="img.src" [alt]="img.alt" class="estrella">
          </span>
        </td>
        <td class="text-uppercase">{{ item.price| currency:'USD':'symbol':'1.0-0' }}</td>
        <td class="text-uppercase">{{ (item.new==true)?'SI':'NO' }}</td>
        <td class="text-uppercase">{{ (item.promotion==true)?'SI':'NO' }}</td>
        <td class="text-uppercase">{{ item.observation }}</td>
        <td>
          <div
            [ngClass]="item.status ? 'statusActive' : 'statusDesactive'"
          ></div>
        </td>
        <td class="col-1 text-center">
          <i
            class="ti ti-dots-vertical tree-dots"
            (click)="showOverlayPanel($event, item)"
          ></i>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<p-dialog
  header="  {{ isEdit ? 'Editar' : 'Crear' }}"
  [(visible)]="display"
  [style]="{ width: '50vw', height: '80vh' }"
>
  <div class="row">
    <form action="">
      <div class="row">
        <div class="col-6 mb-3">
          <label for="" class="w-100 fw-bold mb-1">Product Name</label>
          <input
            type="text"
            class="w-100"
            [(ngModel)]="data.name"
            name="name"
            required
          />
        </div>

        <div class="col-6 mb-3">
          <label for="" class="w-100 fw-bold mb-1">Product Code</label>
          <input
            type="text"
            class="w-100"
            [(ngModel)]="data.code"
            name="name"
            required
          />
        </div>
   

        <div class="col-6 mb-3">
          <label for="" class="w-100 fw-bold mb-1">Group</label>
          <p-dropdown
            name="groups"
            [options]="group"
            [(ngModel)]="data.group"
            optionLabel="name"
            optionValue="id"
            placeholder="Select Group"
            class="w-100"
            [filter]="true"
            filterBy="name"
            
          >
            <ng-template pTemplate="selectedItem" let-item pTemplate="item">
              <div class="flex align-items-center gap-2" *ngIf="data.group">
                <div>{{ item.name  }}</div>
              </div>
            </ng-template>
            <ng-template let-item pTemplate="item">
              <div class="flex align-items-center gap-2">
                <div>{{ item.name }}</div>
              </div>
            </ng-template>
          </p-dropdown>
        </div>
        

        <div class="col-6 mb-3">
          <label for="" class="w-100 fw-bold mb-1">Line</label>
          <p-dropdown
            name="lines"
            [options]="line"
            [(ngModel)]="data.lines"
            optionLabel="name"
            optionValue="id"
            placeholder="Select Line"
            class="w-100"
            [filter]="true"
            filterBy="name"
          >
            <ng-template pTemplate="selectedItem" let-item pTemplate="item">
              <div class="flex align-items-center gap-2" *ngIf="data.line">
                <div>{{ item.name  }}</div>
              </div>
            </ng-template>
            <ng-template let-item pTemplate="item">
              <div class="flex align-items-center gap-2">
                <div>{{ item.name }}</div>
              </div>
            </ng-template>
          </p-dropdown>
        </div>


        
        <div class="col-6 mb-3">
          <label for="" class="w-100 fw-bold mb-1">IMG</label>
          <input
            type="text"
            class="w-100"
            [(ngModel)]="data.img"
            name="img"
            required
          />
        </div>
        <div class="col-6 mb-3">
          <label for="" class="w-100 fw-bold mb-1">Price</label>
          <input
            type="text"
            class="w-100"
            [(ngModel)]="data.price"
            name="price"
            required
          />
        </div>

        <div class="col-6 mb-3">
          <label for="" class="w-100 fw-bold mb-1">Stars</label>
          <input
            type="text"
            class="w-100"
            [(ngModel)]="data.stars"
            name="stars"
            required
          />
        </div>
       
      </div>
      <div class="select-container">
        <label>Promotion</label>
        <select name="aliado" class="form-control" [(ngModel)]="data.promotion" >
        <option  value={{true}} >SI</option>
        <option  value={{false}} >NO</option>
    </select>
      </div> 

      <div class="select-container">
        <label>NEW</label>
        <select name="aliado" class="form-control" [(ngModel)]="data.new" >
        <option  value={{true}} >SI</option>
        <option  value={{false}} >NO</option>
    </select>
      </div> 

    </form>
    <div class="col-12 mb-3">
      <label for="" class="w-100 fw-bold mb-1">Observations</label>
      <p-editor
        [(ngModel)]="data.observation"
        [style]="{ height: '200px' }"
      ></p-editor>
    </div>
  </div>
  <button class="btn-modal" (click)="isEdit ? edit() : createProduct()">
    {{ isEdit ? "Edit" : "Create" }}
  </button>
</p-dialog>
<p-overlayPanel #overlayPanel>
  <ng-template pTemplate>
    <div class="d-grid">
      <button class="btn-list" (click)="openModal(true)">
        <i class="ti ti-edit"></i> Editar
      </button>
      <button class="btn-list" (click)="changeStatus()">
        <div
          [ngClass]="!data.status ? 'statusActive' : 'statusDesactive'"
        ></div>
        {{ data.status ? "Deshabilitar" : "Habilitar" }}
      </button>
    </div>
  </ng-template>
</p-overlayPanel>
