<div class="container-dash">
  <div class="row">
  <!--   <div class="col-3 d-flex card-dash">
      <div class="col-10 d-grid">
        <span class="title">Total Venta</span>
        <span class="vlr-total">
          {{ data[0]?.total | currency : "USD" : "symbol" : "1.0-0" }}
        </span>
      </div>
      <div class="col-2 content-icon">
        <span class="material-icons icono-trending" style="color: #1b1564">
          monetization_on
        </span>
      </div>
    </div> -->
  </div>
</div>
