.statusActive {
    background-color: green;
    width: 15px;
    height: 15px;
    border-radius: 10px;
    margin: auto;
  }
  .statusDesactive {
    background-color: green;
    width: 15px;
    height: 15px;
    border-radius: 10px;
    margin: auto;
  }
  th {
    background: transparent;
    color: #fff;
  }
  thead {
    background-color: #1b1564;
    border-radius: 10px 10px 0px 0px;
  }
  